name: Rust Static Build (AMD64)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Static Binary
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install musl tools
      run: sudo apt-get update && sudo apt-get install -y musl-tools

    - name: Setup Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: x86_64-unknown-linux-musl

    - name: Build
      run: cargo build --release --target x86_64-unknown-linux-musl

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: rust-app-amd64-static
        # 注意：根据你的项目名称修改下方的文件名
        path: target/x86_64-unknown-linux-musl/release/你的项目名称
